#toolbarSelect {
  .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    position: static !important;
  }

  .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
    position: static !important;
  }
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  li > a {
    text-decoration: none;
    color: #111;
  }
}
