* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#daily1Congcu {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    background: #fff;

    h5 {
      margin: 0;
      font-size: 18px;
    }

    .user {
      display: flex;
      align-items: center;
      padding: 10px 16px;
      cursor: pointer;

      .fa-user-circle {
        font-size: 30px;
      }

      span {
        margin-left: 10px;
        font-size: 14px;
      }

      .fa-angle-down {
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.35);
        font-size: 20px;
      }

      &:hover {
        background: #f7f9fe;

        span {
          color: #063ca6;
        }

        .fa-angle-down {
          color: #063ca6;
        }
      }
    }
  }

  .content {
    flex: 1;
    background: #f0eeee;
    padding: 0 36px;

    .btnRight {
      text-align: right;
      padding: 16px 0;

      button {
        i {
          display: inline-block;
          font-size: 13px;
          margin: 0 10px;
        }

        span {
          font-size: 15px;
          display: inline-block;
          padding-right: 10px;
        }
      }
    }

    // #1e93e8;

    .filterSection {
      .title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;

        p {
          margin: 0;
          padding: 14px 17px;
          font-weight: 500;
          color: #1e93e8;
          display: inline-block;
          border-bottom: 2px solid #1e93e8;
        }
      }

      .filterTypes {
        background: #fff;
        padding: 14px 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .searchBox {
          border: 1px solid rgba(0, 0, 0, 0.15);
          width: 50%;
          border-radius: 4px;
          display: flex;
          overflow: hidden;

          i {
            display: inline-block;
            padding: 10px;
            color: rgba(0, 0, 0, 0.35);
          }

          input {
            flex: 1;
            border: none;
            outline: none;
            padding: 0 10px;
            color: #182537;
            font-size: 14px;

            &::placeholder {
              font-size: 14px;
              color: rgba(0, 0, 0, 0.35);
            }
          }
        }
      }
    }
  }
}
