* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#daily2Chitiet {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    background: #fff;

    h5 {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.7);

      i {
        color: rgba(0, 0, 0, 0.35);
        margin-right: 10px;
        font-size: 20px;
      }
    }

    .btns {
      padding: 10px 0;

      button {
        margin-left: 16px;
      }
    }
  }

  .content {
    flex: 1;
    background: #f0eeee;
    padding: 36px;

    .form {
      background: #fff;
      padding: 36px 20px;
      border-radius: 3px;

      .formGroup {
        margin-bottom: 20px;

        .themNhanHieu {
          background: #fff;
          border: none;
          outline: none;
          display: flex;

          i {
            font-size: 13px;
            color: #0088ff;

            line-height: 20px;

            text-align: center;
            border-radius: 50%;
          }

          span {
            color: #0088ff;
            margin-left: 6px;
            font-size: 14px;
          }
        }

        a.ckeditorShow {
          text-decoration-line: none;
          color: #0088ff;
          display: block;
          margin-bottom: 10px;
        }

        .errorMsg {
          color: #f44336;
          padding-left: 14px;
          margin-top: -10px;
        }

        span {
          display: block;
          font-size: 15px;
          line-height: 17px;
          margin-bottom: 10px;
        }

        textarea {
          height: 100px;
        }
      }
    }
  }
  .productInfo {
    background: #fff;
    border-radius: 2px;
    margin-top: 30px;

    .titleToggle {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .productInfoWrapper {
      padding: 16px;

      .addElementBtn {
        button {
          background: #fff;
          border: none;
          outline: none;

          i {
            font-size: 13px;
            color: #0088ff;
            width: 25px;
            height: 25px;
            line-height: 20px;
            border: 3px solid #0088ff;
            text-align: center;
            border-radius: 50%;
          }

          span {
            color: #0088ff;
            margin-left: 8px;
          }
        }
      }

      .removeElement {
        border: none;
        margin-left: 10px;
        background: #fff;
        padding-bottom: 12px;
        outline: none;

        i {
          font-size: 26px;
          color: rgba(0, 0, 0, 0.3);
        }
      }

      .button {
        border: none;
      }

      .formGroup {
        margin-bottom: 20px;
      }
    }

    h5 {
      font-size: 15px;
      padding: 16px 16px 16px 0px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      a {
        display: inline-block;
        background: #0088ff;
        margin-left: 10px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        border-radius: 50%;

        i {
          color: #fff;
          font-size: 13px;
        }
      }
    }
  }

  .ck-editor__editable_inline {
    min-height: 180px;
    word-wrap: break-word;
  }
}

.toastifyInfo {
  color: #fff;
  text-align: center;
  min-width: 800px;
}

.test123 {
  width: 600px;
}
