@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* font-family: "Poppins", sans-serif; */

#loginPage {
  background-color: #2148c0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .wrapper {
    background-image: url("../../assets/images/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    background: #526ed0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 76px 73px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      color: #fff;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 7px;
      letter-spacing: 2px;
      font-family: "Poppins", sans-serif;
    }
  }

  .inputs {
    margin-top: 53px;
    margin-bottom: 66px;
  }

  .inputWrapper {
    display: flex;
    border: 2px solid #5baaec;
    width: 380px;
    border-radius: 4px;

    i {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #fff;
      border-right: 2px solid #5baaec;
    }

    &:first-child {
      margin-bottom: 34px;
    }

    .input {
      padding: 17px;
      background: #395bc8;
      border: none;
      outline: none;
      flex: 1;
      color: #fff;
      font-size: 17px;

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-size: 18x;
        text-transform: uppercase;
      }
    }
  }

  .button {
    padding: 17px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(90deg, #1488cc 0%, #2b32b2 100%);
    border: 2px solid #00c4ad;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;

    &:hover {
      background: linear-gradient(90deg, #314755 0%, #26a0da 100%);
    }
  }
}
