#modalPhanphat {
  .MuiSelect-icon.MuiSelect-iconOutlined.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    position: static;
  }
  .MuiSelect-icon.MuiSelect-iconOutlined.MuiSelect-iconOpen.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
    position: static;
  }

  .btns {
    text-align: right;
    margin-top: 20px;
  }
}
