* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bophankdChiettietSP {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    background: #fff;

    h5 {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.7);

      i {
        color: rgba(0, 0, 0, 0.35);
        margin-right: 10px;
        font-size: 20px;
      }
    }

    .btns {
      padding: 10px 0;

      button {
        margin-left: 16px;
      }
    }
  }

  .content {
    flex: 1;
    background: #f0eeee;
    padding: 0 36px;

    h4 {
      padding: 16px 0;
    }

    .productInfo {
      background: #fff;
      border-radius: 2px;

      h5 {
        font-size: 15px;
        padding: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .productInfoDetails {
        display: flex;
        align-items: center;

        .titles {
          padding-left: 16px;
          margin-right: 135px;

          p {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5);
          }
        }

        .values {
          margin-right: 135px;

          p {
            font-size: 14px;
          }
        }

        .productImg {
          img {
            width: 100px;

            &.noImg {
              opacity: 0.15;
            }
          }
        }
      }
    }
  }
}
