#tableCongcuToolbar {
  select {
    width: 220px;
    outline: none;
    padding: 8px 0;
    margin-left: 20px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
    color: #333;
  }
}
